<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.livecricketapp">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="31"
        tools:overrideLibrary="com.razorpay" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveCricketApp">
        <activity
            android:name=".user.activities.DashboardUser"
            android:exported="true" />
        <activity
            android:name=".activities.SettingsAdmin"
            android:exported="true" />
        <activity
            android:name=".user.activities.HomeActivityUser"
            android:exported="true" />
        <activity
            android:name=".user.activities.FullScreenMatchPreview"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.DisplayReward"
            android:exported="true" />
        <activity
            android:name=".user.activities.RewardTeamPlayer"
            android:exported="true" />
        <activity
            android:name=".user.activities.WatchLiveMatch"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".user.activities.ViewSubscription"
            android:exported="true" />
        <activity
            android:name=".user.activities.ChangePassword"
            android:exported="true" />
        <activity
            android:name=".user.activities.SettingsUser"
            android:exported="true" />
        <activity
            android:name=".user.activities.BuySubscription"
            android:exported="true" />
        <activity
            android:name=".activities.MatchEndResult"
            android:exported="true" />
        <activity
            android:name=".user.activities.PaymentSuccessful"
            android:exported="true" />
        <activity
            android:name=".user.activities.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".user.activities.AdvertiseYourself"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.UpdatePlayerScore"
            android:exported="true" />
        <activity
            android:name=".activities.UpdateTeamScore"
            android:exported="true" />
        <activity
            android:name=".activities.StartLiveStreaming"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.HostMatchActivityTwo"
            android:exported="true" />
        <activity
            android:name=".activities.HostMatchActivityOne"
            android:exported="true" />
        <activity
            android:name=".user.activities.MatchActivity"
            android:exported="true" />
        <activity
            android:name=".user.activities.TeamActivity"
            android:exported="true" />
        <activity
            android:name=".user.activities.TeamsAndMatches"
            android:exported="true" />
        <activity
            android:name=".user.activities.Tournaments"
            android:exported="true" />
        <activity
            android:name=".trial.TrialThree"
            android:exported="true" />
        <activity
            android:name=".trial.TrialTwo"
            android:exported="true" />
        <activity
            android:name=".trial.TrailOne"
            android:exported="true" />
        <activity
            android:name=".activities.FixtuesMatchSettings"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true" />
        <activity android:name=".activities.ParticipationFees" />
        <activity android:name=".activities.AdsRequest" />
        <activity android:name=".activities.Fixtures" />
        <activity
            android:name=".activities.TeamSettings"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.TournamentSettings" />
        <activity
            android:name=".activities.DashboardAdmin"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CreateTournamentThree"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CreateTournamentTwo"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CreateTournamentOne"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.Host_a_tournament"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".authentication.ForgotPasswordActivity" />
        <activity android:name=".authentication.SignupActivity" />
        <activity android:name=".authentication.LoginActivity" />
        <activity
            android:name=".authentication.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>